img {
    width: 300px;
}

.img {
    height: 300px;
}

.wow {
    color: #ff7900;
    font-family: 'Akaya Telivigala', cursive;
}

.lol {
    font-family: 'Rajdhani', sans-serif;
}
.name{
   color:#FF33A8; 
}